<div class="table-responsive">
  <% if (faculty && faculty.length) { %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Department</th>
          <th scope="col">Location</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% faculty.forEach(element => { %>
          <tr data-contactno="<%= element.contactno %>" data-email="<%= element.email %>" data-title="<%= element.title %>" data-officehours="<%= element.officehours %>">
            <td><%= element.Name %></td>
            <td><%= element.dept %></td>
            <td><%= element.loc %></td>
            <td class="d-flex align-items-center">
              <div class="d-flex flex-row justify-content-end gap-2">
                <a href="/home/viewhome/<%= element._id %>" class="text-primary me-2">
                  View 
                </a>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <div class="alert alert-warning" role="alert">
      No results found.
    </div>
  <% } %>
</div>
